
.et_pb_section_23.section_has_divider.insta_bottom_divider .insta_bottom_inside_divider {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI2M3B4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTcyNS4yOSAxMDEuMkMzMjUuMjIgMTIyLjQ4IDAgMCAwIDB2MTQwaDEyODBWMHMtMTU0LjY0IDc5LjkyLTU1NC43MSAxMDEuMnoiIGZpbGwtb3BhY2l0eT0iLjMiLz48cGF0aCBkPSJNNTU2LjQ1IDExOS43NEM5NTMuNDEgMTQwIDEyODAgMTQgMTI4MCAxNHYxMjZIMFYwczE1OS41IDk5LjQ4IDU1Ni40NSAxMTkuNzR6IiBmaWxsLW9wYWNpdHk9Ii41Ii8+PHBhdGggZD0iTTY0MCAxNDBjMzUzLjQ2IDAgNjQwLTE0MCA2NDAtMTM5djE0MEgwVjBzMjg2LjU0IDE0MCA2NDAgMTQweiIvPjwvZz48L3N2Zz4=);
    background-size: 133.33333333333% 63px;
    bottom: 0;
    height: 63px;
    z-index: 1;
    transform: rotateY(180deg)
}



.insta_section_23.section_has_divider.insta_top_divider .insta_top_inside_divider {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI4NXB4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTcyNS4yOSAxMDEuMkMzMjUuMjIgMTIyLjQ4IDAgMCAwIDB2MTQwaDEyODBWMHMtMTU0LjY0IDc5LjkyLTU1NC43MSAxMDEuMnoiIGZpbGwtb3BhY2l0eT0iLjMiLz48cGF0aCBkPSJNNTU2LjQ1IDExOS43NEM5NTMuNDEgMTQwIDEyODAgMTQgMTI4MCAxNHYxMjZIMFYwczE1OS41IDk5LjQ4IDU1Ni40NSAxMTkuNzR6IiBmaWxsLW9wYWNpdHk9Ii41Ii8+PHBhdGggZD0iTTY0MCAxNDBjMzUzLjQ2IDAgNjQwLTE0MCA2NDAtMTM5djE0MEgwVjBzMjg2LjU0IDE0MCA2NDAgMTQweiIvPjwvZz48L3N2Zz4=);
    background-size: 133.33333333333% 85px;
    top: 0;
    height: 85px;
    z-index: 1;
    transform: rotateX(180deg)
}

.insta_section_12.section_has_divider.insta_top_divider .insta_top_inside_divider {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMjJweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiMxNDFjMjgiPjxwYXRoIGQ9Ik0xMjgwIDBsLTI2NiA5MS41MmE3Mi41OSA3Mi41OSAwIDAgMS0zMC43NiAzLjcxTDAgMHYxNDBoMTI4MHoiIGZpbGwtb3BhY2l0eT0iLjUiLz48cGF0aCBkPSJNMTI4MCAwbC0yNjIuMSAxMTYuMjZhNzMuMjkgNzMuMjkgMCAwIDEtMzkuMDkgNkwwIDB2MTQwaDEyODB6Ii8+PC9nPjwvc3ZnPg==);
        background-size: 100% 260px;
    top: 0;
    height: 260px;
    z-index: 1;
    transform: rotateX(180deg)
}
.insta_section_12.section_has_divider.insta_bottom_divider .insta_bottom_inside_divider {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiMxNDFjMjgiPjxwYXRoIGQ9Ik0xMjgwIDBsLTI2NiA5MS41MmE3Mi41OSA3Mi41OSAwIDAgMS0zMC43NiAzLjcxTDAgMHYxNDBoMTI4MHoiIGZpbGwtb3BhY2l0eT0iLjUiLz48cGF0aCBkPSJNMTI4MCAwbC0yNjIuMSAxMTYuMjZhNzMuMjkgNzMuMjkgMCAwIDEtMzkuMDkgNkwwIDB2MTQwaDEyODB6Ii8+PC9nPjwvc3ZnPg==);
    background-size: 100% 200px;
    bottom: 0;
    height: 200px;
    z-index: 1;
    transform: rotateY(180deg);
}
.insta_section_5.insta_section22 {
    background-color: #141c28 !important;

}
.insta_section_12.insta_section {
    background-color: #078d5d !important;
}
.insta_section_5.section_has_divider.insta_bottom_divider .insta_bottom_inside_divider {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiMwNzhkNWQiPjxwYXRoIGQ9Ik0wIDQ3LjQ0TDE3MCAwbDYyNi40OCA5NC44OUwxMTEwIDg3LjExbDE3MC0zOS42N1YxNDBIMFY0Ny40NHoiIGZpbGwtb3BhY2l0eT0iLjUiLz48cGF0aCBkPSJNMCA5MC43MmwxNDAtMjguMjggMzE1LjUyIDI0LjE0TDc5Ni40OCA2NS44IDExNDAgMTA0Ljg5bDE0MC0xNC4xN1YxNDBIMFY5MC43MnoiLz48L2c+PC9zdmc+);
    background-size: 100% 128px;
    bottom: 0;
    height: 99px;
    z-index: 1
}
.insta_section_2.section_has_divider.insta_top_divider .insta_top_inside_divider {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMjVweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiMwMDAwMDAiPjxwYXRoIGQ9Ik0wIDUxLjc2YzM2LjIxLTIuMjUgNzcuNTctMy41OCAxMjYuNDItMy41OCAzMjAgMCAzMjAgNTcgNjQwIDU3IDI3MS4xNSAwIDMxMi41OC00MC45MSA1MTMuNTgtNTMuNFYwSDB6IiBmaWxsLW9wYWNpdHk9Ii4zIi8+PHBhdGggZD0iTTAgMjQuMzFjNDMuNDYtNS42OSA5NC41Ni05LjI1IDE1OC40Mi05LjI1IDMyMCAwIDMyMCA4OS4yNCA2NDAgODkuMjQgMjU2LjEzIDAgMzA3LjI4LTU3LjE2IDQ4MS41OC04MFYwSDB6IiBmaWxsLW9wYWNpdHk9Ii41Ii8+PHBhdGggZD0iTTAgMHYzLjRDMjguMiAxLjYgNTkuNC41OSA5NC40Mi41OWMzMjAgMCAzMjAgODQuMyA2NDAgODQuMyAyODUgMCAzMTYuMTctNjYuODUgNTQ1LjU4LTgxLjQ5VjB6Ii8+PC9nPjwvc3ZnPg==);
    background-size: 100% 125px;
    top: 0;
    height: 125px;
    z-index: 1
}



.checkmark {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;
    stroke-width: 3;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #03a76f;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 4;
    stroke-miterlimit: 10;
    stroke: #03a76f;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #03a76f;
    }
}



.containerasd {
    position: absolute;
    top: 60%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
}
#checkmarkasd {
    width: 100px;
    height: 100px;
}
#checkmarkasd path{
    stroke:#03a76f;
    stroke-width:10px;
    stroke-dasharray:1448.1546630859375;
    stroke-dashoffset:-1448.1546630859375;
    fill: transparent;
    transition:stroke-dashoffset 0.8s linear 0.4s,fill 0.4s ease;

}
#checkmarkasd path.checked  {
    fill:#fff;
    stroke-dashoffset: 0px;
    transition:stroke-dashoffset 0.8s linear,fill 0.4s ease 0.8s;
}


.swapDisplayBoxes{
    padding: 10px;
    text-align: center;
    max-width: 90px!important;

}

.midSmsLeft{
    background-color: darkorange!important;
}
.lowSmsLeft{
    background-color: darkred!important;
}


@media (max-width: 700px) {
    .impres {
        display: none!important;
    }
    .customQ{
        position: absolute;
        margin-top: 15`px;
    }

    .customMobileFunc {
        width: 50% !important;
        font-size: 9px;
    }

    .col-lg-12 > .customMobileFunc {
        padding-right: 0px;
    }

    .customMobileFunc > .col-lg-12{
      width:79%!important;
    }

    .mobilePaddingRemove{
        padding:0px!important;
    }
    .contentCustom{
        min-height:85px!important;
        background-position: 109px 0px!important;
        background-size: 110%!important;
    }

}



.dpNone{
    display: none!important;
}




.flex-center {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}







.customModal{
    color: white;
    width: 550px;
    height: 400px;
    z-index: 999;
    padding: 10px;
    background-color: #4f4f4f;
    box-shadow: 0px 0px 10px 0px black;
    overflow: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
}

.infoPopUpOpen{
    z-index: 999999!important;
    opacity: 1!important;
}

.infoPopUp{
    position: absolute;
    background-color: #fffffffa;
    padding: 5px;
    border-radius: 10px;
    width: 400px;
    margin-left: 20px;
    margin-top: -70px;
    min-height: 200px;
    z-index: -1;
    opacity: 0;
    border: 2px solid #cab772;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.infoPopUp:before{
    content: "💬";
    width: 30px;
    height: 30px;
    background-color: #cab772;
    position: absolute;
    left: -18px;
    top: 40%;
    font-size: 15px;
    color: white;
    border-radius: 50px;
    padding: 5px;
}


.infoPopUp-note{
    width: 100%;
    height: 30px;
    background-color: #cab772;
    color: white;
    font-size: 20px;
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}


@media (max-width: 1000px) {
    .tabs-container .nav-tabs {
        overflow: hidden;
        height: 40px;
        display: flex;
        margin: 0px;
        padding: 0px;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .tabs-container .nav-tabs::-webkit-scrollbar {
        display: none;
    }

    .scroll-hint {
        position: fixed;
        right: 20px;
        margin-top: -20px;
        transform: translateY(-50%);
        font-size: 2em;
        opacity: 1;
        animation: bounce 2s infinite;
        transition: opacity 0.1s ease-in;
    }

    .scroll-hint.active {
        opacity: 0;
    }

    .arrow {
        display: inline-block;
    }

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateX(0);
        }
        40% {
            transform: translateX(30px);
        }
        60% {
            transform: translateX(15px);
        }
    }





    .customModal{
        width: 100%!important;
        height: 400px;
    }
    .customModal-close-container{
        width: 90%!important;
    }
    .customModal-shop-dam-add-form {
        width: 95%!important;
    }
}

.customModal-shop-dam-add-form{
    color: white;
    width: 550px;
    height: 400px;
    z-index: 999;
    padding: 10px;
    background-color: #450502;
    overflow: auto;
    position: absolute;
    margin-left: -10px;
}

.customModal-shop-dam-close-button {
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: 1px solid #0dda92;
    background-color: black;
    padding: 5px 10px 5px 10px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    transition: background-color 0.2s !important;
    -o-transition: background-color 0.2s !important;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s !important;
    -ms-transition: background-color 0.2s !important;
}


.customModal-shop-dam-info-button {
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: 1px solid rgb(56 70 211);
    margin-right: 20px;
    background-color: black;
    padding: 5px 10px 5px 10px;
    color: rgb(56 70 211);
    border-radius: 10px;
    font-size: 20px;
    transition: background-color 0.2s !important;
    -o-transition: background-color 0.2s !important;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s !important;
    -ms-transition: background-color 0.2s !important;
}
.customModal-shop-dam-info-button:hover {
    background-color: rgb(56 70 211);
    color: white;
}



.customModal-shop-dam-info-button-small {
    height: 30px;
    width: 30px;
    cursor: pointer;
    border: 1px solid rgb(56 70 211);
    margin-right: 10px;
    background-color: #1d1d1d;
    padding: 1px 7px 0px 9px;
    color: white;
    border-radius: 10px;
    font-size: 13px;
    transition: background-color 0.2s !important;
    -o-transition: background-color 0.2s !important;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s !important;
    -ms-transition: background-color 0.2s !important;
}

.customModal-shop-dam-info-button-small:hover {
    background-color: rgb(56 70 211);
    color: white;
}


.customModal-shop-dam-close-button:hover {
    background-color: #0dda92;
}

#customAddShift > div > div.row > div:nth-child(5){
    width: 45%;
}
#customAddShift > div > div.row > div:nth-child(6){
    width: 45%;
}

.customModal-shop-dam{
    text-align: center;
    min-height: 45px;
    cursor: pointer;
    border: 1px solid #0dda92;
    background-color: black;
    padding: 10px;
    margin-right: 2.5%;
    margin-left: 2.5%;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 15px;
    transition: background-color 0.2s !important;
    -o-transition: background-color 0.2s !important;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s !important;
    -ms-transition: background-color 0.2s !important;
}
.customModal-shop-dam:hover{
    background-color: #0dda9269;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.customModal-shop-dam:hover .selectedNetwork {
    background-color: black;
    border-radius: 60px;
    width: 31px;
    height: 30px;
    padding-left: 2px;
}

textarea.customModal-shop-dam:hover{
    background-color: #000;
}
.customModal-header{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
}
#customAddShift{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #00000061;
    z-index: 9999;
    top: 0px;
}

.customModal-close-container{
    position: relative;
    width: 400px;
    display: flex;
    justify-content: flex-end;
    top: -60px;
    margin-left: 10px;
}

.customModal-close-container2{
    width: 10%;
    height: 40px;
    text-align: end;
}

.customModal-back-container{
    width: 10%;
    height: 40px;
}

.customModal-back-container3{
    width: 80%;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

.pairsFiatProvider{
    padding:10px;
    border-radius: 5px;
    margin-top: 10px;
    border:1px solid #2d2d2d;
    cursor: pointer;
}

.sellPairs{
    background-color: #416179;
}

.buyPairs{
    background-color: #30966c;
}
.sellPairsPreview{
    display:none;
}

.buyPairs:hover{
    background-color: #30966c!important;
}

.sellPairs:hover{
    background-color: #30966c!important;
}



.autoSwapMobile{
    display:none;
}
.autoSwapPC{
    display:none;
}
.seachSwapPC{
    display:none;
}
.seachSwapMobile{
    display:none;
}
.swapResp{
    border-radius: 10px;
}
.clasemineContent{
    border-radius: 10px;
}
.label-primary, .badge-primary {
    background-color: #1ab394;
    color: #FFFFFF;
    height: 40px;
    float: left;
    font-size: 12px!important;
    padding-top: 14px;
    min-width: 120px;
    text-align: center;
}
.label-warning,
.badge-warning {
    background-color: #f8ac59;
    color: #FFFFFF;
    height: 40px;
    float: left;
    font-size: 12px !important;
    padding-top: 14px;
    min-width: 120px;
    text-align: center;
}

.label-danger,
.badge-danger {
    background-color: #ed5565;
    color: #FFFFFF;
    height: 40px;
    float: left;
    font-size: 12px!important;
    padding-top: 14px;
    min-width: 120px;
    text-align: center;
}
.label-success,
.badge-success {
    /*background-color: #1c84c6;*/
    color: #FFFFFF;
   /* height: 40px;
    float: left;
    font-size: 12px!important;
    padding-top: 14px;
    min-width: 120px;*/
    text-align: center;
}
input[type="checkbox"] {
    display: none;
}
.toggle {
    position: relative;
    top: 0;
    bottom: 0;
    right: 9px;
    margin: auto;
    width: 51px;
    height: 31px;
}
.toggle label,
.toggle i {
    box-sizing: border-box;
    display: block;
    background: #ffffff;
}
.toggle label {
    width: 51px;
    height: 32px;
    border-radius: 32px;
    border: 2px solid #e5e5e5;
    transition: all 0.30s ease;
}
.toggle i {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25),
    0 3px 3px 0 rgba(0,0,0, 0.15);
    background: #ffffff;
    transition: all 0.3s cubic-bezier(0.275, -0.450, 0.725, 1.450);
}
.activateCoin{
    transition: all 0.3s cubic-bezier(0.275, -0.450, 0.725, 1.450);
}
input[type="checkbox"]:active + .toggle i {
    width: 35px;
}
input[type="checkbox"]:active + .toggle label,
input[type="checkbox"]:checked + .toggle label {
    border: 16px solid #4cd964;
}
input[type="checkbox"]:checked + .toggle .activateCoin {
    background-color: #99ff6f;
}
input[type="checkbox"]:checked + .toggle i {
    left: 21px;
}
input[type="checkbox"]:checked:active + .toggle label {
    border: 16px solid #e5e5e5;
}
input[type="checkbox"]:checked:active + .toggle i {
    left: 14px;
}
.checked{
    background-color:#00d02278!important;
}

.newLoaderContainer{
    background-color: #1d1d1d;
    min-height:600px;
}

@media (max-width: 700px) {
    .newLoaderContainer{
        min-height:300px!important;
    }
    .clasemineContent{
        background-color: #1d1d1d!important;
        margin-left: -15px!important;
    }
    #searchOnDb{
        height: 60px!important;
        margin-bottom: 0px!important;
    }
    #searchBySelected{
        height: 40px!important;
    }
    #searchBySelected2{
        height: 40px!important;
    }

    .breadcrumb{
        background-color: #ffffff00!important;
    }
    .swapResp{
        padding: 0px!important;
    }.swapResp2{
         padding: 0px!important;
     }
    #searchType{
        height: 40px!important;
        width: 100%;
        border: 0px;
        padding: 10px!important;
    }
}


@media (max-width: 700px){
    #modalMainInfos{
        width: 89%!important;
        height: 100%!important;
    }
    .customCFix{
        margin-left: -4%; width: 108%; margin-right: -4%;

    }
    .newModal{
        height: 100%!important;
        border-radius: 0px!important;
    }
    .modalIcon{
        display:none!important;
    }
  /*  .customModal-shop-dam input{
        width:75%!important;
    }*/
    .changeSize{
        width:100%!important;
    }
    .changeSize2{
        width:75%!important;
    }
}

.changeSize2{
    width:80%;
}

.changeSize{
    width:80%;
}

.modalIcon{
    margin-right: 0px;
    background-color: #0dda92;
    width: 80px;
    border-radius: 80px;
    height: 80px;
    position: absolute;
    margin-left: -40px;
    margin-top: -40px;
    padding: 22px;
    color:white;
    font-size: 40px;
}
.unfinished{
    margin-top:45px;
}

.chosen-container-active .chosen-single {
    border:none!important;
    background-color: #0dda92!important;
    width: 100%;margin-top: 10px;
}

.chosen-container-single .chosen-single {
    background-color: #0dda9200!important;
    border: none!important;
    color: white!important;
}


.chosen-container .chosen-drop {
    background: #000!important;
    border: 1px solid #0dda92!important;
}


.chosen-container-single .chosen-search input[type="text"] {
    background: url(plugins/chosen/chosen-sprite.png) no-repeat 100% -20px, #000!important;
    color: white!important;
    border: 1px solid #e5e6e7!important;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #0dda92!important;
}


.chosen-single {
    width: 100%!important;
    margin-top: -10px!important;
    padding-top: 10px!important;
}

.progress-bar{
    background-color: #0dda92;
}

.chosen-container-multi .chosen-choices {
    background-color: #fff0!important;;
    border: none!important;
    border-top-right-radius: 0px!important;;
    border-top-left-radius: 0px!important;;
    border-bottom-right-radius: 0px!important;;
    border-bottom-left-radius: 0px!important;;
}

.chosen-container-multi .chosen-choices li.search-choice {
    background: #0dda92;
    border: 1px solid #0dda92;
    border-radius: 2px;
    box-shadow: none;
    color: #ffffff;
    cursor: default;
    line-height: 13px;
    margin: 3px 0 3px 5px;
    padding: 3px 20px 3px 5px;
    position: relative;
    border-radius: 5px;
}

.chosen-container .chosen-results li.active-result {
    color: white!important;
}


.chosen-container-multi .chosen-choices li.search-choice2{
    background: #0dda92;
    border: 1px solid #0dda92;
    border-radius: 2px;
    box-shadow: none;
    color: #ffffff;
    cursor: default;
    line-height: 13px;
    margin: 3px 0 3px 5px;
    padding: 3px 20px 3px 5px;
    position: relative;
    border-radius: 5px;
}


.takis{
   /* background-color: #1d1d1d!important;
    border: none!important;*/
    font-size: 12px!important;
}

#modalMainInfos{
    display: none;
    position: absolute;
    width: 20%;
    height: 54%;
    background-color: black;
    text-align: center;
    padding-top: 10%;
    z-index: 1;
}



#smsQuanityLeft{
    background-color: green;
    border-radius: 100%;
    padding: 9px 10px 5px 10px;
    width: 60px;
    height: 60px;
    text-align: center;
    float: right;
}

.loader {
    margin:auto;
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: #03a76f;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.disabledMessageNotify,.disabledMessageNotify .customModal-shop-dam,.disabledMessageNotify .notifMessageButt{
    opacity: 0.6;
    cursor: not-allowed;
}

.notifyButtCont {
    width: 100%;
    text-align: end;
    position: relative;
    margin-top: -10px;
    margin-bottom: -30px;
}

.notifMessageButt{
    font-size: 17px;
    margin-right: 10px;
    background: none;
    border: none;
    color: white;
    padding: 0px;
    cursor: pointer;
}


.custom-button-tab{
    cursor: pointer;
    width: auto;
    height: auto;
    font-size: 15px;
    background-color: #1d1d1d;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    float: left;
    border: none;
    color: white;
}

.custom-button-tab.selected{
    cursor: default!important;
    background-color: #00c282;
    color: black;
}


.fc-event-time {
    width: auto!important;
    float: left!important;
    font-size: 12px!important;
    margin-right: 5px;
}

.fc-event-title-frame {
    width: auto!important;
    float: left!important;
}
.fc-event-main{
    display: initial!important;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start {
    min-height: 25px;
}

.sosAppControls{

    margin-top: 30px;
    background-color: rebeccapurple;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

#approvalModalLabel{
    font-size: 20px;
    width: 100%;
    text-align: center;
}



.toastr-customIcon img{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid whitesmoke;
}
.toastrCustom{
    display: flex;
    width: 100%!important;
    background-color: #66339921!important;
    font-style: italic!important;
    -moz-box-shadow: 0 0 12px #999!important;
    -webkit-box-shadow: 0 0 12px #999!important;
    box-shadow: 0 0 12px #663399b5!important;
}


.sos-hours {
    background-color: darkorange;
    padding: 5px;
    border-radius: 5px;
    color: black;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.normal-hours {
    background-color: rgb(12, 134, 86);
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

.dayContainer{
    height:50px;
}

.day{
    margin: auto;
}

.sos-hours input{
    color:white!important;
}